* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding-bottom: 30px;
    position: relative;
}

.title::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #000;
    width: 105px;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    background-color: #000;
}

.header {
    background-color: #fff;
    position: relative;
}

.header::after {
    content: "";
    border-bottom: 2px solid #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 100%;

}

.header__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
}

.header__nav-list a {
    font-size: 15px;
    font-weight: bold;
    color: #000;
}

.header__nav-list a:hover {
    color: #ffc0cb;
    transition-duration: 0.4s;
    transition-delay: 0.1s;
    border-bottom: 2px solid #ffc0cb;
}

.header__nav-list li {
    margin-right: 48px;
}

.header__nav-list li:last-child {
    margin-right: 0;
}

.home {
    background-image: url('../images/bg-h.jpg');
    background-position: -65px;
    max-height: 1000px;
    padding-top: 136px;
    padding-bottom: 85px;
    margin-bottom: 100px;
}

.home__wrapper {
    text-align: center;
}

.home__logo {
    margin-bottom: 100px;
}

.home__title {
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-bottom: 45px;
    margin-bottom: 340px;
    position: relative;
    color: #fff;
}

.home__title span {
    font-weight: 400;
    font-size: 26px;
    text-transform: lowercase;
}

.home__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    border-bottom: 2px solid #fff;
    width: 100px;
    left: 50%;
    margin-left: -50px;
}

.about {
    padding-top: 35px;
    padding-bottom: 90px;
    margin-bottom: 100px;
}

.about__title {
    margin-bottom: 70px;
}

.about__descr {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #868585;
    line-height: 25.89px;
    margin-bottom: 60px;
}

.about__row {
    display: flex;
    justify-content: center;
    text-align: center;
}

.about__column {
    margin-left: 90px;
}

.about__column:first-child {
    margin-left: 0;
}

.about__column img {
    width: 35px;
    height: 35px;
}

.about__column-title {
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.about__column-descr {
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
    color: #868585
}

.contact {
    padding-top: 35px;
    padding-bottom: 100px;
}

.contact__wrapper {
    position: relative;
}

.contact__title {
    margin-bottom: 70px;
    text-align: center;
}

.contact__inner {
    display: flex;
    justify-content: center;
}

.contact__form {
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 14px;
    margin-left: 30px;
}

.contact__form input {
    border: none;
    outline: none;
    padding: 0 5px;
}

.contact__form-name {
    margin-right: 60px;
    margin-bottom: 72px;
}

.contact__form-input input {
    border-top: 2px solid #ffc0cb;
    background-color: #f8f7f7;
    min-height: 36px;
}

.contact__form-message textarea {
    width: 384px;
    height: 120px;
    resize: none;
    border: none;
    outline: none; 
    border-top: 2px solid #ffc0cb;
    background-color: #f8f7f7;
    padding: 0 5px;
    margin-bottom: 40px;
}

.contact__form-btn button {
    border: none;
    outline: none;
    text-transform: uppercase;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    left: 355px;
}

.contact__texts {
    margin-right: 110px;
    width: 465px;
}

.contact__text {
    font-weight: 300;
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 40px;
    line-height: 26px;
}

.contact__author {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 24px;
}

.contact__e-mail {
    font-weight: 300;
    font-size: 14px;
}

.contact__e-mail span {
    font-weight: 700;
    font-size: 14px;
}

.footer {
    background-color: #ffc0cb;
    max-height: 270px;
    padding-top: 60px;
    padding-bottom: 35px;
}

.footer__wrapper {
    text-align: center;
}

.footer__nav-list {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 25px;
}

.footer__nav-list a {
    color: #fff;
}

.footer__nav-list a:hover {
    color: #000;
    border-bottom: 2px solid #000;
    transition-duration: 0.4s;
    transition-delay: 0.1s;
}

.footer__nav-list li {
    margin-left: 18px;
}

.footer__time {
    color: #6c6c6c;
}